@charset "UTF-8";
.clear:after {
  content: " ";
  display: table;
  clear: both;
}

#about {
  background-color: #333;
  color: #fff;
}
#about .about-me {
  width: 40%;
  margin: 0 auto;
  display: block;
}
#about h2 {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
#about img {
  width: 40%;
  display: block;
  border-radius: 40%;
  margin: 0 auto;
}
#about .info-me {
  margin-top: 5%;
}

.fadeout {
  opacity: 0;
  -webkit-transform: translateY(2rem);
      -ms-transform: translateY(2rem);
          transform: translateY(2rem);
}

.fadein {
  opacity: 1;
  -webkit-transform: translateY(0rem);
      -ms-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-transition: all 1s ease 0.2s;
  -o-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}

#myChart {
  margin-top: 2em;
}
#myChart .container {
  max-width: 1200px !important;
  overflow: hidden;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#myChart .circle-wrap, #myChart .circle-wrap .percent, #myChart .wrap-box {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
#myChart .wrap-box {
  position: relative;
  background: #dddddd;
  margin: 0 auto;
}
#myChart .wrap-box .circle-wrap {
  border: 10px solid #ddd;
  position: absolute;
  clip: rect(0, 140px, 140px, 70px);
  /* 需要显示出来的全部*/
}
#myChart .wrap-box .circle-wrap .percent {
  left: -10px;
  top: -10px;
  border: 10px solid #2c3e50;
  position: absolute;
}
#myChart .wrap-box .circle-wrap .left-clip {
  clip: rect(0 70px 140px 0);
  /* 需要显示出来的左边*/
  -webkit-transition: -webkit-transform ease;
  transition: -webkit-transform ease;
  -o-transition: transform ease;
  transition: transform ease;
  transition: transform ease, -webkit-transform ease;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
#myChart .wrap-box .circle-wrap .right-clip {
  clip: rect(0, 140px, 140px, 70px);
  /* 需要显示出来的右边*/
}
#myChart .wrap-box .clip-auto {
  clip: rect(auto, auto, auto, auto);
}
#myChart .wrap-box .circle-num {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fff;
  z-index: 1;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
}
#myChart .wrap-box .circle-num span {
  font-size: 30px;
  color: #0c4b62;
  margin-right: 3px;
}

#myChart .active > div:nth-child(1) .left-clip {
  -webkit-transform: rotate(324deg);
      -ms-transform: rotate(324deg);
          transform: rotate(324deg);
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

#myChart .active > div:nth-child(2) .left-clip {
  -webkit-transform: rotate(324deg);
      -ms-transform: rotate(324deg);
          transform: rotate(324deg);
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

#myChart .active > div:nth-child(3) .left-clip {
  -webkit-transform: rotate(306deg);
      -ms-transform: rotate(306deg);
          transform: rotate(306deg);
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

#myChart .active > div:nth-child(4) .left-clip {
  -webkit-transform: rotate(288deg);
      -ms-transform: rotate(288deg);
          transform: rotate(288deg);
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

#myChart .ptitle {
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}
